.button {
  width: 100%;
  padding: var(--gr-padding-small);
  color: var(--gr-text-color);
  background-color: var(--gr-button-primary);
  border-radius: var(--gr-border-radius);
  border: 2px solid var(--gr-button-primary);
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.button.cancel {
  width: fit-content;
  background-color: transparent;
  border: 2px solid var(--gr-text-color);
}

.button.back {
  width: fit-content;
  background-color: transparent;
  border: 2px solid var(--gr-text-color);
}
