.data-details {
  margin-top: 40px;
  padding: var(--gr-padding-small);
  text-wrap: balance;
  opacity: 0;
  animation: fadeIn 0.4s ease-in-out forwards;
}

.data-details-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--gr-padding-small);
  text-align: left;
  transition: transform 0.4s ease-in-out;
}

.data-details-list li {
  position: relative;
  cursor: default;
}

.data-details-list li .tooltip {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*   width: 100%; */
  max-width: 500px;
  min-width: 300px;
  background-color: var(--gr-background-color-secondary);
  color: var(--ghost-white);
  padding: var(--gr-padding-small);
  border-radius: var(--gr-border-radius);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: 999;
}

.data-details-list li:hover .tooltip {
  opacity: 1;
}
